.menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-img
{
    margin-right: 40px;
}
.header-menu
{
    margin-left: 70%;
    flex-grow: 3;
}
.cards-row
{
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
}
.seti
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 70%;
}
.footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
}